<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
<h2>My Product List<button type="button" style="float:right;font-size: 18px" (click)="logout()">Logout</button></h2>
<table>
  <tr>
    <th>S.No.</th>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>
  <tr *ngFor="let info of productList ; index as i">
    <td>{{i+1}}</td>
    <td>{{info.productName}}</td>
    <td>{{info.price}}</td>
    <td>{{info.description}}</td>
  </tr>
</table>
<div *ngIf = "productList.length==0" style="text-align: center;font-size: 29px;">
  No Data Found.
</div>
<!-- <script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script> -->
</body>
