<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;width:100%;align:center}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 50%;
  }
}
</style>

<body>

<h2>Signup Form</h2>

<form [formGroup]="signupForm">
  <div class="container" style="width: 611px">
    <label for="uname"><b>First Name</b></label>
    <input type="text" placeholder="First Name" name="firstName" formControlName="firstName" required>
    <div *ngIf="!signupForm.controls['firstName'].valid&&signupForm.controls['firstName'].dirty">
        <span *ngIf="signupForm.controls['firstName'].errors['required']" style="color:red">First Name is required.</span>
        <span *ngIf="signupForm.controls['firstName'].errors['pattern']" style="color:red">Please enter character only.</span>
    </div>

    <label for="uname"><b>Last Name</b></label>
    <input type="text" placeholder="Last Name" name="lastName" formControlName="lastName" required>
    <div *ngIf="!signupForm.controls['lastName'].valid&&signupForm.controls['lastName'].dirty">
        <span *ngIf="signupForm.controls['lastName'].errors['required']" style="color:red">Last name is required.</span>
        <span *ngIf="signupForm.controls['lastName'].errors['pattern']" style="color:red">Please enter character only.</span>
    </div>

    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" formControlName="email" required>
    <div *ngIf="!signupForm.controls['email'].valid&&signupForm.controls['email'].dirty">
        <span *ngIf="signupForm.controls['email'].errors['required']" style="color:red">Email is required.</span>
        <span *ngIf="signupForm.controls['email'].errors['pattern']" style="color:red">Please enter valid email.</span>
    </div>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" formControlName="password" minlength="6" required>
    <div *ngIf="!signupForm.controls['password'].valid&&signupForm.controls['password'].dirty">
        <span *ngIf="signupForm.controls['password'].errors['required']" style="color:red">Password is required.</span>
        <!-- <span *ngIf="signupForm.controls['password'].errors['minlength']" style="color:red">Password should contain atleast 6 character.</span> -->
        <span *ngIf="signupForm.controls['password'].errors['pattern']" style="color:red">Password should contain atleast 6 character including one uppercase ,one lowercase ,one number and one special character.</span>

    </div>

    <!-- <label for="psw"><b>Confirm Password</b></label>
    <input type="password" placeholder="Enter Password" name="Cpassword" formControlName="Cpassword" required>
    <div *ngIf="!signupForm.controls['Cpassword'].valid&&signupForm.controls['Cpassword'].dirty">
        <span *ngIf="signupForm.controls['Cpassword'].errors['required']" style="color:red">Password is required.</span>
    </div> -->
    <button type="submit" (click)="signup()">Signup</button>
    <!-- <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
  </div>

  <!-- <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
</form>

</body>
