<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* .modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
} */
</style>
<body>
  <div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Product Details</h4>

        </div>
        <div class="modal-body" >
          <form role="form" [formGroup]="productForm">
            <div class="form-group">
              <label for="usrname"> Product Name</label>
              <input type="text" class="form-control" placeholder="Product Name"  name="productName" formControlName="productName">
              <div *ngIf="!productForm.controls['productName'].valid&&productForm.controls['productName'].dirty">
                  <span *ngIf="productForm.controls['productName'].errors['required']" style="color:red">Name is required.</span>
                  <span *ngIf="productForm.controls['productName'].errors['pattern']" style="color:red">Please enter character only.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="psw">Price</label>
                <input type="text" class="form-control" id="psw" placeholder="Price"  name="price" formControlName="price">
                <div *ngIf="!productForm.controls['price'].valid&&productForm.controls['price'].dirty">
                    <span *ngIf="productForm.controls['price'].errors['required']" style="color:red">Price is required.</span>
                    <span *ngIf="productForm.controls['price'].errors['pattern']" style="color:red">Please enter number only.</span>
                </div>
            </div>
            <div class="form-group">
              <label for="psw"> Description</label>
              <textarea type="text" class="form-control" id="psw" placeholder="Description" name="description" formControlName="description"></textarea>
              <div *ngIf="!productForm.controls['description'].valid&&productForm.controls['description'].dirty">
                  <span *ngIf="productForm.controls['description'].errors['required']" style="color:red">Description is required.</span>
              </div>
            </div>
              <button type="submit" class="btn btn-success btn-block" (click)="product()">Save</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<h2>Product List<button type="button" style="float:right;font-size: 18px" (click)="logout()">Logout</button></h2>

<button type="button" style="float:right;" data-toggle="modal" data-target="#myModal" >New product</button>
<button type="button" style="float:right;" (click)="addToCart()">Add my Product</button>
<table>
  <tr>
    <th>S.No.</th>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let info of productList ; index as i">
    <td>{{i+1}}</td>
    <td>{{info.productName}}</td>
    <td>{{info.price}}</td>
      <td>{{info.description}}</td>
    <td><input type="checkbox" (click)="select(info._id)" /></td>
  </tr>
</table>
<!-- <script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
});
</script> -->
</body>
