<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;width:100%;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 50%;
  }
}
</style>

<body>

<h2 style="float:center">Login Form</h2>

<form [formGroup]="loginForm">
  <div class="container" style="width: 393px;">
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" formControlName="email" required>
    <div *ngIf="!loginForm.controls['email'].valid&&loginForm.controls['email'].dirty">
        <span *ngIf="loginForm.controls['email'].errors['required']" style="color:red">Email is required</span>
        <span *ngIf="loginForm.controls['email'].errors['pattern']" style="color:red">Email is not valid</span>
    </div>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" formControlName="password" required>
    <div *ngIf="!loginForm.controls['password'].valid&&loginForm.controls['password'].dirty">
        <span *ngIf="loginForm.controls['password'].errors['required']" style="color:red">Password is required.</span>
    </div>
    <button type="submit" (click)="login()">Login</button>
    <!-- <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label> -->
  </div>

  <!-- <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
</form>

</body>
